* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  margin: 0;
  line-height: 1.2;
}
body {
  color: #1a2f33;
  font-size: 18px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  background-image: url(https://elanta.app/nazar/tastyc-demo/img/bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}
img {
  vertical-align: middle;
  border-style: none;
}
.menu-frame {
  height: auto;
  position: fixed;
  z-index: 99999;
  width: 100%;
  padding: 0 15px;
  &__header {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 30px;
    transform: translateY(15px);
    border-radius: 10px 10px;
    background-color: rgb(233, 230, 230);
    justify-content: space-between;
    align-items: center;
    transition: 0.4s ease-in-out;
    &__logo {
      width: 100px;
    }
    &__menu & li {
      position: relative;
    }
    & nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      & li:hover #test {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
      & li {
        height: 80px;
        position: relative;
        list-style-type: none;
        & a {
          padding: 34px 30px 0;
          display: block;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: 800;
          font-family: "Josefin Sans", sans-serif;
          margin: 0;
          transition: 0.3s ease-in-out;
          text-decoration: none;
          color: #000;
        }

        & ul {
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          padding: 25px 0 10px;
          min-width: 160px;
          position: absolute;
          z-index: 1;
          top: 90px;
          left: 0;
          border-radius: 5px;
          background-color: #f39c12;
          flex-direction: column;
          transition: 0.3s ease-in-out;
          & li {
            padding: 0 30px;
            height: 15px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: 800;
            font-family: "Josefin Sans", sans-serif;
          }
        }
      }
    }

    &__button {
      display: flex;
      width: 15%;
      &__reservation {
        color: rgb(37, 37, 37);
        position: relative;
        padding: 0 30px;
        background-color: #f39c12;
        display: block;
        height: 50px;
        line-height: 54px;
        cursor: pointer;
        font-family: "Josefin Sans", sans-serif;
        margin-right: 5px;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: 800;
        border: none;
        transition: 0.3s ease-in-out;
        border-radius: 5px;
        white-space: nowrap;
        text-decoration: none;
      }
      &__cart svg {
        width: 25px;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }
}
.banner {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease-in-out;
  &__cover {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 30px);
    &__frame {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: scale(1);
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(
          270deg,
          rgba(4, 25, 29, 0.1) 0%,
          rgba(4, 25, 29, 0.7) 70%
        );
        width: 100%;
        height: 100%;
      }
    }
  }
  &__content {
    position: relative;
    &__container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0 !important;

      &__title {
        height: 100vh;
        // display: flex;
        z-index: 999;
        position: relative;
        font-family: "Josefin Sans", sans-serif;

        &__top {
          width: 100%;
          color: #e5ebef;
          position: absolute;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: 800;
          margin: 0;
          padding-left: 45px;
          margin-top: 170px;
          margin-left: 190px;
        }
        &__middle {
          width: 100%;
          margin-bottom: 30px;
          font-size: 80px;
          position: absolute;
          margin-top: 190px;
          margin-left: 190px;
          color: #e5ebef;
          font-family: "Playfair Display", serif;
        }
        &__bottom {
          width: 100%;
          position: absolute;
          line-height: 1.5;
          margin-top: 420px;
          margin-left: 190px;
          color: #e5ebef;
          font-size: 18px;
          opacity: 0.7;
          font-weight: 300;
        }
        & a {
          position: flex;
          margin-top: 510px;
          margin-left: 190px;
          align-items: center;
        }
        & #open-menu {
          margin-left: 40px;
          color: #e5ebef;
          opacity: 0.9;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 800;
          letter-spacing: 2px;
          font-family: "Josefin Sans", sans-serif;
        }
        &__btn {
          height: 60px;
          padding: 0 40px;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: 800;
          border: none;
          border-radius: 5px;
          background-color: #f39c12;
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          color: rgb(37, 37, 37);
          & p {
            padding-top: 25px;
          }
        }
      }
      &__navigation {
        position: absolute;
        top: 82%;
        display: flex;
        color: #e5ebef;
        z-index: 999;
        & i:hover {
          font-size: 26px;
        }
        &__left {
          margin-left: 160px;
          & #icon-first {
            font-size: 22px;
            margin-top: 8px;
            margin-bottom: 10px;
          }
        }
        &__right {
          margin-left: 40px;
          font-size: 22px;
          padding-top: 10px;

          & i {
            transition: 0.2s ease-in-out;
          }
          & #icon-left {
            padding-right: 10px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
.dynamic-content {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease-in-out;
  &__frame {
    position: relative;
    z-index: 99999;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fcfcfc;
    &__container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      &__scroll {
        transform: scale(1);
        transition: 0.6s ease-in-out;
        height: 74px;
        width: 74px;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: calc(50% - 37px);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fcfcfc;
        &__hint {
          transform: scale(0.8);
          top: -5px;
          position: relative;
          height: 40px;
          width: 25px;
          border: solid 2px #1a2f33;
          border-radius: 20px;
          & i {
            font-size: 5px;
            padding-left: 8px;
          }
        }
      }
    }
    &__adver {
      padding-top: 60px;
      width: 100%;
      padding-right: 80px;
      padding-left: 80px;
      margin-right: auto;
      margin-left: auto;
      &__sp {
        margin-top: 0;
        height: 0;
        margin: 60px 0;
        border-bottom: dotted 4px rgba(26, 47, 51, 0.7);
        opacity: 0.3;
      }
      &__top {
        align-items: center !important;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        &__left {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;

          &__cover {
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            border-radius: 5px;
            margin-bottom: 60px;
            & img {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 5px;
              object-fit: cover;
              object-position: top;
            }
            &__overlay {
              border-radius: 5px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              background-color: rgba(4, 25, 29, 0.3);
              width: 100%;
              height: 100%;
            }
            &__animation {
              position: absolute;
              top: 50%;
              left: 50%;
              border-radius: 50%;
              height: 90px;
              width: 90px;
              margin-left: -45px;
              margin-top: -45px;
              background-color: #aca293;
              animation: pulse 1s infinite;
            }
            &__btn {
              position: absolute;
              top: 50%;
              left: 50%;
              border-radius: 50%;
              height: 70px;
              width: 70px;
              margin-left: -35px;
              margin-top: -35px;
              background-color: #f39c12;
              display: flex;
              justify-content: center;
              align-self: center;
              font-size: 20px;
              padding-left: 3px;
              transition: 0.3s ease-in-out;
              color: rgb(49, 48, 48);
              padding-top: 25px;
              padding-right: 3px;
            }
          }
        }
        &__right {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__content {
            margin-bottom: 60px;
            &__suptitle {
              margin-bottom: 15px !important;
              position: relative;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              font-family: "Josefin Sans", sans-serif;
              margin: 0;
              padding-left: 45px;
            }
            & h3 {
              margin-bottom: 30px !important;
              font-size: 48px;
              font-family: "Playfair Display", serif;
              font-weight: 900;
              margin: 0;
            }
            & p {
              margin-bottom: 30px !important;
              opacity: 0.7;
              font-size: 17px;
              font-weight: 300;
              font-family: "Josefin Sans", sans-serif;
              line-height: 1.5;
              text-align: left !important;
            }
            &__btn {
              position: relative;
              padding: 0 30px;
              background-color: #f39c12;
              display: inline-block;
              height: 50px;
              line-height: 54px;
              cursor: pointer;
              font-family: "Josefin Sans", sans-serif;
              margin-right: 5px;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              border: none;
              transition: 0.3s ease-in-out;
              border-radius: 5px;
              white-space: nowrap;
              margin-right: 30px;
              text-decoration: none;
              color: rgb(49, 49, 49);
            }
            & a {
              & i {
                font-size: 14px;
                letter-spacing: 2px;
                font-family: "Josefin Sans", sans-serif;
                margin: 0 10px 0 0;
                transition: 0.3s ease-in-out;
              }
            }
          }
        }
      }
      &__mid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        &__12 {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__text {
            text-align: center;
            &__suptitle {
              text-align: center;
              padding-left: 0;
              padding-top: 20px;
              margin-bottom: 15px;
              position: relative;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              font-family: "Josefin Sans", sans-serif;
            }
            & h3 {
              margin-bottom: 30px;
              font-size: 48px;
              font-family: "Playfair Display", serif;
              font-weight: 900;
              line-height: 1.2;
            }
            & p {
              margin-bottom: 60px;
              opacity: 0.7;
              font-size: 17px;
              font-weight: 300;
              font-family: "Josefin Sans", sans-serif;
              text-align: center;
            }
          }
        }
        &__4 {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          & img {
            width: 70px;
            margin-bottom: 30px;
            margin-left: 170px;
          }
          & h5 {
            margin-bottom: 30px;
            font-size: 24px;
            font-family: "Playfair Display", serif;
            font-weight: 900;
            line-height: 1.2;
            text-align: center;
          }
          & div {
            opacity: 0.7;
            font-size: 17px;
            font-weight: 300;
            font-family: "Josefin Sans", sans-serif;
            margin: 0;
            text-align: center;
          }
        }
      }
      &__bot {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: 5px;
        background-size: 80%;
        margin-left: 120px;
        &__cover {
          overflow: hidden;
          top: 0;
          left: 0;
          width: 80%;
          height: 360px;
          & img {
            border-radius: 5px;
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
          }
          &__overlay {
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(4, 25, 29, 0.5);
            width: 80%;
            height: 100%;
          }
        }
        &__content {
          align-items: center !important;
          display: flex;
          margin-right: -15px;
          margin-left: -15px;
          position: absolute;
          z-index: 999999;
          top: 0%;
          left: 0;
          &__8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            &__text {
              padding: 60px;
              &__first {
                margin-bottom: 15px;
                color: #e5ebef;
                position: relative;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
                font-weight: 800;
                font-family: "Josefin Sans", sans-serif;
                padding-left: 45px;
              }
              & h2 {
                margin-bottom: 30px;
                color: #e5ebef;
                font-size: 68px;
                font-family: "Playfair Display", serif;
                font-weight: 900;
                line-height: 1.2;
                width: 700px;
              }
              & p {
                margin-bottom: 30px;
                color: #e5ebef;
                opacity: 0.7;
                font-size: 17px;
                font-weight: 300;
                font-family: "Josefin Sans", sans-serif;
                width: 700px;
              }
              &__btn {
                width: 400px;
                & #btn-1 {
                  margin-right: 30px;
                  position: relative;
                  padding: 0 30px;
                  background-color: #f39c12;
                  display: inline-block;
                  height: 50px;
                  line-height: 54px;
                  cursor: pointer;
                  font-family: "Josefin Sans", sans-serif;
                  margin-right: 5px;
                  text-transform: uppercase;
                  font-size: 10px;
                  letter-spacing: 2px;
                  font-weight: 800;
                  border: none;
                  transition: 0.3s ease-in-out;
                  border-radius: 5px;
                  white-space: nowrap;
                  text-decoration: none;
                  color: #000;
                }
                #btn-2 {
                  text-decoration: none;
                  color: #e5ebef;
                  margin-left: 18px;
                  text-transform: uppercase;
                  font-size: 10px;
                  opacity: 0.9;
                  font-weight: 700;
                  letter-spacing: 2px;
                }
              }
            }
          }
          &__4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            height: 360px;
            width: 280px;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            z-index: 999;
            color: #000;
            background-color: white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            &__frame {
              margin-left: 100px;
              margin-top: 70px;
              &__up {
                margin-bottom: 60px;
                &__label {
                  text-transform: uppercase;
                  margin-bottom: 15px;
                  display: inline-block;
                  white-space: nowrap;
                  text-transform: uppercase;
                  font-size: 10px;
                  font-weight: 800;
                  letter-spacing: 2px;
                  font-family: "Josefin Sans", sans-serif;
                }
                &__h5 {
                  font-size: 24px;
                  font-family: "Playfair Display", serif;
                  font-weight: 900;
                  line-height: 1.2;
                  & span {
                    color: #f39c12;
                  }
                }
              }
              &__down {
                &__label {
                  text-transform: uppercase;
                  margin-bottom: 15px;
                  display: inline-block;
                  white-space: nowrap;
                  text-transform: uppercase;
                  font-size: 10px;
                  font-weight: 800;
                  letter-spacing: 2px;
                  font-family: "Josefin Sans", sans-serif;
                }
                &__h5 {
                  font-size: 24px;
                  font-family: "Playfair Display", serif;
                  font-weight: 900;
                  line-height: 1.2;
                  & span {
                    color: #f39c12;
                  }
                }
              }
            }
          }
        }
      }
      &__last {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        &__3 {
          flex: 0 0 25%;
          max-width: 25%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__count {
            text-align: center;
            margin-bottom: 70px;
            &__label {
              display: inline-block;
              white-space: nowrap;
              text-transform: uppercase;
              font-size: 10px;
              font-weight: 800;
              letter-spacing: 2px;
              font-family: "Josefin Sans", sans-serif;
            }
            &__h3 {
              margin-bottom: 15px;
              font-size: 48px;
              font-family: "Playfair Display", serif;
              font-weight: 900;
              line-height: 1.2;
              &__second {
                color: #f39c12;
              }
            }
          }
        }
      }
    }
  }
  &__action {
    position: relative;
    &__container {
      width: 80%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      &__part {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        &__right {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          & img {
            width: 104%;
            height: 100%;
            margin-left: -2%;
            object-fit: cover;
            object-position: center;
            opacity: 1;
          }
        }
        &__left {
          flex: 0 0 50%;
          max-width: 50%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__frame {
            width: 100%;
            height: 550px;
            display: flex;
            align-items: center;
            &__content {
              width: 100%;
              &__suptitle {
                opacity: 1;
                margin-bottom: 15px;
                color: #e5ebef;
                position: relative;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
                font-weight: 800;
                font-family: "Josefin Sans", sans-serif;
                padding-left: 45px;
              }
              & h2 {
                opacity: 1;
                margin-bottom: 30px;
                color: #e5ebef;
                font-size: 68px;
                font-family: "Playfair Display", serif;
                font-weight: 900;
                line-height: 1.2;
              }
              &__fade {
                font-size: 18px;
                color: #e5ebef;
                opacity: 0.7;
                font-weight: 300;
                font-family: "Josefin Sans", sans-serif;
              }
              & #app-button {
                padding: 0 40px;
                height: 60px;
                line-height: 64px;
                margin-top: 30px;
                position: relative;
                padding: 0 30px;
                background-color: #f39c12;
                display: inline-block;
                height: 50px;
                line-height: 54px;
                cursor: pointer;
                font-family: "Josefin Sans", sans-serif;
                margin-right: 5px;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
                font-weight: 800;
                border: none;
                border-radius: 5px;
                white-space: nowrap;
                text-decoration: none;
                color: #000;
                & i {
                  margin-right: 5px;
                  font-size: 18px;
                  transform: translateY(3px);
                }
              }
            }
          }
        }
      }
    }
  }
  &__frame {
    position: relative;
    z-index: 99999;
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: #fcfcfc;
    &__content__container {
      padding-top: 60px;
      padding-bottom: 60px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      &__sp {
        height: 0;
        margin: 60px 0;
        border-bottom: dotted 4px rgba(26, 47, 51, 0.7);
        opacity: 0.3;
      }
      &__top {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        &__first {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__text {
            text-align: center !important;
            &__suptitle {
              padding-left: 0;
              padding-top: 20px;
              margin-bottom: 15px;
              position: relative;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              font-family: "Josefin Sans", sans-serif;
            }
            & h3 {
              margin-bottom: 30px;
              font-size: 48px;
              font-family: "Playfair Display", serif;
              font-weight: 900;
              line-height: 1.2;
            }
            & p {
              opacity: 0.7;
              font-size: 17px;
              font-weight: 300;
              font-family: "Josefin Sans", sans-serif;
              margin: 0;
              line-height: 1.5;
            }
          }
        }
        &__second {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__swiper {
            padding-top: 60px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 150px;
            margin-right: -15px;
            list-style: none;
            overflow: hidden;
            display: flex;
            &__1 {
              width: 350px;
              margin-right: 30px;
              flex-shrink: 0;
              height: 100%;
              position: relative;
              transition-property: transform;
              &__card {
                position: relative;
                border-radius: 5px;
                padding: 30px;
                border: dotted 2px rgba(26, 47, 51, 0.2);
                margin-bottom: 60px;
                cursor: default;
                &__bottom {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  &__visitor {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    & img {
                      margin-right: 15px;
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      object-fit: cover;
                      object-position: top;
                    }
                    & h6 {
                      padding-top: 4px;
                      text-transform: uppercase;
                      font-size: 10px;
                      font-weight: 800;
                      letter-spacing: 2px;
                      font-family: "Josefin Sans", sans-serif;
                      margin: 0;
                      line-height: 1.2;
                    }
                  }
                  &__date {
                    opacity: 0.6;
                    background-color: rgba(26, 47, 51, 0.2);
                    padding: 3px 10px 1px;
                    border-radius: 10px;
                    font-size: 12px;
                    line-height: 18px;
                  }
                }
                & h5 {
                  margin-bottom: 30px;
                  font-size: 24px;
                  font-family: "Playfair Display", serif;
                  font-weight: 900;
                  line-height: 1.2;
                }
                & p {
                  opacity: 0.7;
                  font-size: 17px;
                  font-weight: 300;
                  font-family: "Josefin Sans", sans-serif;
                  margin: 0;
                }
                &__sp {
                  height: 1px;
                  margin: 15px 0;
                  border-bottom: dotted 2px rgba(26, 47, 51, 0.7);
                  opacity: 0.3;
                }
              }
            }
            &__2 {
              width: 350px;
              margin-right: 30px;
              flex-shrink: 0;
              height: 100%;
              position: relative;
              transition-property: transform;
              &__card {
                position: relative;
                border-radius: 5px;
                padding: 30px;
                border: dotted 2px rgba(26, 47, 51, 0.2);
                margin-bottom: 60px;
                cursor: default;
                &__bottom {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  &__visitor {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    & img {
                      margin-right: 15px;
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      object-fit: cover;
                      object-position: top;
                    }
                    & h6 {
                      padding-top: 4px;
                      text-transform: uppercase;
                      font-size: 10px;
                      font-weight: 800;
                      letter-spacing: 2px;
                      font-family: "Josefin Sans", sans-serif;
                      margin: 0;
                      line-height: 1.2;
                    }
                  }
                  &__date {
                    opacity: 0.6;
                    background-color: rgba(26, 47, 51, 0.2);
                    padding: 3px 10px 1px;
                    border-radius: 10px;
                    font-size: 12px;
                    line-height: 18px;
                  }
                }
                &__quote {
                  top: 0;
                  opacity: 1;
                  width: 100px;
                  color: #f39c12;
                  line-height: 100px;
                  position: absolute;
                  right: -20px;
                  font-family: "Playfair Display", serif;
                  font-size: 220px;
                  font-style: italic;
                }
                & h5 {
                  margin-bottom: 30px;
                  font-size: 24px;
                  font-family: "Playfair Display", serif;
                  font-weight: 900;
                  line-height: 1.2;
                }
                & p {
                  opacity: 0.7;
                  font-size: 17px;
                  font-weight: 300;
                  font-family: "Josefin Sans", sans-serif;
                  margin: 0;
                }
                &__sp {
                  height: 1px;
                  margin: 15px 0;
                  border-bottom: dotted 2px rgba(26, 47, 51, 0.7);
                  opacity: 0.3;
                }
              }
            }
            &__3 {
              width: 350px !important;
              margin-right: 30px;
              flex-shrink: 0;
              width: 100%;
              height: 100%;
              position: relative;
              transition-property: transform;
              &__card {
                position: relative;
                border-radius: 5px;
                padding: 30px;
                border: dotted 2px rgba(26, 47, 51, 0.2);
                margin-bottom: 60px;
                cursor: default;
                & h5 {
                  margin-bottom: 30px;
                  font-size: 24px;
                  font-family: "Playfair Display", serif;
                  font-weight: 900;
                  line-height: 1.2;
                }
                & p {
                  opacity: 0.7;
                  font-size: 17px;
                  font-weight: 300;
                  font-family: "Josefin Sans", sans-serif;
                  margin: 0;
                }
                &__sp {
                  height: 1px;
                  margin: 15px 0;
                  border-bottom: dotted 2px rgba(26, 47, 51, 0.7);
                  opacity: 0.3;
                }
              }
            }
          }
        }
        &__third {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &__btn {
              position: relative;
              padding: 0 30px;
              background-color: #f39c12;
              display: inline-block;
              height: 50px;
              line-height: 54px;
              cursor: pointer;
              font-family: "Josefin Sans", sans-serif;
              margin-right: 5px;
              margin-left: 100px;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              border: none;
              border-radius: 5px;
              white-space: nowrap;
              text-decoration: none;
              color: #1a2f33;
            }
            &__icon {
              display: flex;
              justify-content: center;
              width: 400px;
              position: absolute;
              left: 50%;
              margin-left: -200px;
              & i {
                font-size: 30px;
                opacity: 0.5;
              }
            }
            &__right {
              display: flex;
              align-items: center;
              margin-right: 100px;
              &__label {
                display: inline-block;
                white-space: nowrap;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 2px;
                font-family: "Josefin Sans", sans-serif;
                margin: 0;
              }
              &__btn {
                padding-top: 1px;
                margin-left: 15px;
                background-color: #f39c12;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                width: 35px;
                cursor: pointer;
                border-radius: 50%;
                font-size: 14px;
              }
            }
          }
        }
      }
      &__mid {
        align-items: center !important;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 150px;
        padding-right: 150px;
        &__12 {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__text {
            text-align: center !important;
            &__suptitle {
              text-align: center;
              padding-left: 0;
              padding-top: 20px;
              margin-bottom: 15px;
              position: relative;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              font-family: "Josefin Sans", sans-serif;
              margin: 0;
            }
            & h3 {
              margin-bottom: 30px;
              font-size: 48px;
              font-family: "Playfair Display", serif;
              font-weight: 900;
              line-height: 1.2;
            }
            & p {
              margin-bottom: 60px;
              opacity: 0.7;
              font-size: 17px;
              font-weight: 300;
              font-family: "Josefin Sans", sans-serif;
            }
          }
        }
        &__4 {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__blog {
            background-color: white;
            border-radius: 5px;
            margin-bottom: 60px;
            &__link {
              display: block;
              position: relative;
              overflow: hidden;
              border-radius: 5px 5px 0 0;
              width: 100%;
              padding-bottom: 65%;
              & img {
                border-radius: 5px 5px 0 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
              & div {
                background-color: #2ecc71;
                padding: 5px 10px 3px;
                border-radius: 3px;
                position: absolute;
                font-weight: 800;
                top: 30px;
                left: 30px;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
              }
            }
            &__des {
              padding: 30px;
              &__15 {
                margin-bottom: 15px;
                font-size: 24px;
                font-family: "Playfair Display", serif;
                font-weight: 900;
                line-height: 1.2;
                & a {
                  text-decoration: none;
                  color: #000;
                  opacity: 0.8;
                }
              }
              &__text {
                opacity: 0.7;
                font-size: 17px;
                font-weight: 300;
                font-family: "Josefin Sans", sans-serif;
                margin: 0;
              }
              &__sp {
                height: 1px;
                margin: 15px 0;
                border-bottom: dotted 2px rgba(26, 47, 51, 0.7);
                opacity: 0.3;
              }
              &__post {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__author {
                  display: flex;
                  align-items: center;
                  & img {
                    margin-right: 15px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;

                    object-fit: cover;

                    object-position: top;
                  }
                  & h6 {
                    padding-top: 4px;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 800;
                    letter-spacing: 2px;
                    font-family: "Josefin Sans", sans-serif;
                    margin: 0;
                    line-height: 1.2;
                  }
                }
                &__date {
                  opacity: 0.6;
                  background-color: rgba(26, 47, 51, 0.2);
                  padding: 3px 10px 1px;
                  border-radius: 10px;
                  font-size: 12px;
                  line-height: 18px;
                }
              }
            }
          }
        }
        &__12 {
          flex: 0 0 100%;
          max-width: 100%;
          position: relative;
          width: 100%;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          &__read {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__text {
              opacity: 0.7;
              font-size: 17px;
              font-weight: 300;
              font-family: "Josefin Sans", sans-serif;
              margin: 0;
            }
            &__link {
              margin-right: 0;
              position: relative;
              padding: 0 30px;
              background-color: #f39c12;
              display: inline-block;
              height: 50px;
              line-height: 54px;
              cursor: pointer;
              font-family: "Josefin Sans", sans-serif;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 2px;
              font-weight: 800;
              border: none;
              border-radius: 5px;
              white-space: nowrap;
              text-decoration: none;
              color: rgb(29, 29, 29);
            }
          }
        }
      }
      &__bot {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background-size: 100%;
        margin-left: 150px;
        margin-right: 150px !important;
        &__cover {
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          & img {
            border-radius: 5px;
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
          }
          &__overlay {
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(4, 25, 29, 0.5);
            width: 100%;
            height: 100%;
          }
        }
        &__center {
          align-items: center !important;
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
          &__12 {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            &__text {
              padding: 60px;
              text-align: center !important;
              &__suptitle {
                text-align: center;
                padding-left: 0;
                padding-top: 20px;
                margin-bottom: 15px;
                color: #e5ebef;
                position: relative;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 2px;
                font-weight: 800;
                font-family: "Josefin Sans", sans-serif;
              }
              & h2 {
                margin-bottom: 30px;
                color: #e5ebef;
                font-size: 68px;
                font-family: "Playfair Display", serif;
                font-weight: 900;
                line-height: 1.2;
              }
              & p {
                margin-bottom: 30px !important;
                color: #e5ebef;
                opacity: 0.7;
                font-size: 17px;
                font-weight: 300;
                font-family: "Josefin Sans", sans-serif;
                margin: 0;
              }
              & form {
                width: 100%;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-wrap: nowrap;
                & input {
                  width: 100%;
                  margin-right: 15px;
                  position: relative;
                  padding: 0 30px;
                  height: 50px;
                  border-radius: 5px;
                  border: none;
                  background-color: white;
                  color: #1a2f33 !important;
                  opacity: 1;
                  font-size: 14px;
                  font-weight: 400;
                  overflow: visible;
                }
                & button {
                  position: relative;
                  padding: 0 30px;
                  background-color: #f39c12;
                  display: inline-block;
                  height: 50px;
                  line-height: 54px;
                  cursor: pointer;
                  font-family: "Josefin Sans", sans-serif;
                  margin-right: 5px;
                  text-transform: uppercase;
                  font-size: 10px;
                  letter-spacing: 2px;
                  font-weight: 800;
                  border: none;
                  -webkit-transition: 0.3s ease-in-out;
                  transition: 0.3s ease-in-out;
                  border-radius: 5px;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}
.fade-up {
  opacity: 1;
  padding: 70px 0 60px;
  width: 100%;
  color: #f2f6f7;
  &__container {
    opacity: 1;
    transform: scale(1);
    transition: 0.6s ease-in-out;
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__logo {
        width: 120px;
        z-index: 1;
      }
      &__social__link {
        font-size: 14px;
        letter-spacing: 2px;
        font-family: "Josefin Sans", sans-serif;
        margin: 0 10px 0 0;
        color: white;
      }
    }
    &__sp {
      border-bottom: dotted 4px rgba(242, 246, 247, 0.3);
      color: #f2f6f7;
      height: 0;
      margin: 60px 0;
      opacity: 0.3;
    }
    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      &__4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        &__text {
          margin-bottom: 60px;
          & h5 {
            margin-bottom: 30px !important;
            font-size: 24px;
            font-family: "Playfair Display", serif;
            font-weight: 900;
            margin: 0;
            line-height: 1.2;
          }
          &__shadow {
            margin-bottom: 30px !important;
            opacity: 0.7;
            font-size: 17px;
            font-weight: 300;
            font-family: "Josefin Sans", sans-serif;
            margin: 0;
          }
          &__link {
            color: #f39c12;
            display: inline-block;
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 800;
            letter-spacing: 2px;
            font-family: "Josefin Sans", sans-serif;
            margin: 0;
            text-decoration: none;
          }
          &__30 {
            padding: 0;
            margin-bottom: 30px !important;
            & li {
              list-style-type: none;
              display: flex;
              justify-content: space-between;
              margin-bottom: 13px;
              & #label {
                display: inline-block;
                white-space: nowrap;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 2px;
                font-family: "Josefin Sans", sans-serif;
                margin: 0;
              }
              & #address {
                opacity: 0.7;
                font-size: 17px;
                font-weight: 300;
                font-family: "Josefin Sans", sans-serif;
                margin: 0;
              }
            }
          }
          &__swiper {
            width: 100%;
            position: relative;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            display: flex;
            flex: wrap;
            &__active {
              flex-shrink: 0;
              height: 100%;
              position: relative;
              display: flex;
              &__item {
                padding-bottom: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 5px;
                margin-bottom: 40px;
                &__overlay {
                  width: 100%;
                  height: 100%;
                  background-image: none;
                  background-color: rgba(4, 25, 29, 0.7);
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #f2f6f7;
                  opacity: 0;
                }
                & img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }
            &__nav {
              position: absolute;
              display: flex;
              top: 90px;
              justify-content: space-between;
              align-items: center;
              &__link {
                color: #f39c12;
                display: block;
                white-space: nowrap;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 2px;
                font-family: "Josefin Sans", sans-serif;
                text-decoration: none;
              }
              &__icon {
                display: flex;
                margin-left: 150px;
                &__left {
                  font-size: 16px;
                  margin-left: 30px;
                  cursor: pointer;
                }
                &__right {
                  font-size: 16px;
                  margin-left: 30px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    &__btm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__text {
        opacity: 0.4;
        font-size: 17px;
        font-weight: 300;
        font-family: "Josefin Sans", sans-serif;
        margin: 0;
      }
      &__label {
        z-index: 1;
        color: #f39c12;
        display: inline-block;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 2px;
        font-family: "Josefin Sans", sans-serif;
        margin: 0;
        text-decoration: none;
      }
    }
  }
}
